@import url("https://fonts.googleapis.com/css?family=Open+Sans:600,700&subset=cyrillic");
/*! normalize-scss | MIT/GPLv2 License | bit.ly/normalize-scss */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
figcaption,
figure {
  display: block; }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * Add the correct display in IE.
 */
main {
  display: block; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre, code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Links
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Forms
   ========================================================================== */
/**
 * Known issues:
 * - `select`:
 *   By default, Chrome on OS X and Safari on OS X allow very limited styling of
 *   select, unless a border property is set. The default font weight on
 *   optgroup elements cannot safely be changed in Chrome on OSX and Safari on
 *   OS X.
 * - `[type="checkbox"]`:
 *   It is recommended that you do not style checkbox and radio inputs as
 *   Firefox's implementation does not respect box-sizing, padding, or width.
 * - `[type="number"]`:
 *   Certain font size values applied to number inputs cause the cursor style of
 *   the decrement button to change from `default` to `text`.
 * - `[type="search"]`:
 *   The search input is not fully stylable by default. In Chrome and Safari on
 *   OSX/iOS you can't control `font`, `padding`, `border`, or `background`. In
 *   Chrome and Safari on Windows you can't control `border` properly. It will
 *   apply `border-width` but will only show a border color (which cannot be
 *   controlled) for the outer 1px of that border. Applying
 *   `-webkit-appearance: textfield` addresses these issues without removing the
 *   benefits of search inputs (e.g. showing past searches). Safari (but not
 *   Chrome) will clip the cancel button on when it has padding (and `textfield`
 *   appearance).
 * - `::placeholder`:
 *   In Edge, placeholders will disappear on `relative` or `absolute` positioned
 *   `<input>` elements if you use `opacity` less than `1` due to a
 *   [bug](https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/3901363/).
 */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  line-height: 1.15;
  /* 1 */
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 */
button {
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

button,
[type="button"],
[type="reset"],
[type="submit"] {
  /**
   * Remove the inner border and padding in Firefox.
   */
  /**
   * Restore the focus styles unset by the previous rule.
   */ }
  button::-moz-focus-inner,
  [type="button"]::-moz-focus-inner,
  [type="reset"]::-moz-focus-inner,
  [type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0; }
  button:-moz-focusring,
  [type="button"]:-moz-focusring,
  [type="reset"]:-moz-focusring,
  [type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText; }

/**
 * Show the overflow in Edge.
 */
input {
  overflow: visible; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
  /**
   * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
   */ }
  [type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  color: inherit;
  /* 2 */
  white-space: normal;
  /* 1 */ }

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE, and Firefox.
 */
details {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/*
 * Add the correct display in IE 9-.
 */
menu {
  display: block; }

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block; }

/**
 * Add the correct display in IE.
 */
template {
  display: none; }

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none; }

html {
  box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit; }

.container {
  width: 1024px;
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px; }

.btn {
  position: relative;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 46px;
  padding-right: 20px;
  color: #fff;
  text-decoration: none;
  background-color: #34c55d;
  border-radius: 25px; }

.btn::before {
  position: absolute;
  top: 50%;
  left: 20px;
  content: "";
  margin-top: -9px;
  width: 18px;
  height: 18px;
  background-repeat: no-repeat; }

.btn:hover,
.btn:focus {
  background-color: #45df70; }

.user-card {
  display: flex; }

.user-card__profile-link {
  display: block;
  margin-right: 19px; }

.user-card__avatar {
  width: 64px;
  height: 64px;
  border: 2px solid rgba(61, 214, 105, 0.4);
  border-radius: 50%; }

.user-card__user-info-wrap {
  display: flex;
  flex-direction: column; }

.user-card__user-name {
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 0.02em; }

.user-card__town-name {
  display: inline-block;
  padding-top: 5px;
  padding-right: 13px;
  padding-bottom: 5px;
  padding-left: 13px;
  font-size: 10px;
  line-height: 10px;
  color: #486c4b;
  background-color: rgba(61, 214, 105, 0.4);
  border-radius: 25px; }

.popup_container {
  max-width: 964px;
  padding-right: 28px;
  padding-left: 28px; }

.popup {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  color: #1d1e20;
  font-size: 12px; }

.popup-header {
  position: relative;
  padding-top: 17px;
  padding-bottom: 17px;
  background-image: linear-gradient(#444483, #9782ae);
  border-top-left-radius: 2px;
  border-top-right-radius: 2px; }

.popup-header__cross {
  position: absolute;
  top: 15px;
  right: 2.9%;
  width: 17px;
  height: 17px;
  cursor: pointer; }

.popup-header__cross::before,
.popup-header__cross::after {
  position: absolute;
  left: 50%;
  margin-left: -2px;
  content: "";
  height: 22px;
  width: 2px;
  background-color: #fff; }

.popup-header__cross::before {
  transform: rotate(45deg); }

.popup-header__cross::after {
  transform: rotate(-45deg); }

.popup-header__title {
  margin: 0;
  font-size: 14px;
  line-height: 15px;
  letter-spacing: 0.02em;
  color: #fff; }

.popup-user-info {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding-top: 18px;
  padding-bottom: 18px;
  background-image: linear-gradient(to top, #e9e8eb, #e7dfe3); }

.popup-user-card {
  margin-right: 171px; }

.hectare-info {
  position: relative;
  padding-left: 58px; }

.hectare-info::before {
  position: absolute;
  left: 0;
  content: "";
  width: 42px;
  height: 42px;
  background-color: #a287d6;
  background-image: url("../images/map_point.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 25px auto;
  border: 2px solid #f4f2f5;
  border-radius: 50%; }

.hectare-info__count {
  font-size: 17px;
  line-height: 20px; }

.hectare-info__text {
  margin: 0;
  font-weight: 700;
  line-height: 20px; }

.users-rating-btn {
  margin-left: auto;
  box-shadow: -1px 3px 15px 0px rgba(110, 240, 85, 0.6); }

.users-rating-btn::before {
  background-image: url("../images/star.svg");
  background-size: 18px auto; }

.popup-challenge-box__title {
  position: relative;
  margin: 0 auto;
  margin-bottom: 19px;
  padding-left: 52px;
  width: 462px;
  font-size: 20px;
  line-height: 25px;
  color: #636269; }

.popup-challenge-box__title::before {
  position: absolute;
  left: 12px;
  content: "";
  margin-top: -2px;
  width: 25px;
  height: 30px;
  background-image: url("../images/puzzle.svg");
  background-repeat: no-repeat;
  background-size: 25px 30px; }

.popup-challenge-box__opponent-control-wrap {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 24px; }

.popup-challenge-box__search-form {
  position: relative; }

.popup-challenge-box__search-form::before {
  position: absolute;
  top: 50%;
  left: 20px;
  content: "";
  margin-top: -7px;
  height: 14px;
  width: 15px;
  background-image: url("../images/loupe.svg");
  background-repeat: no-repeat;
  background-size: 14px 15px; }

.popup-challenge-box__search-control {
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 43px;
  padding-right: 242px;
  font-family: "Open Sans", sans-serif;
  line-height: 16px;
  letter-spacing: 0.02em;
  font-weight: bold;
  color: #c3c2cb;
  border: 2px solid #c3c2cb;
  border-radius: 25px;
  outline: none; }

.random-opponent-btn {
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 48px;
  line-height: 20px;
  color: #34c55d;
  background-color: #fff;
  border: 2px solid #34c55d; }

.random-opponent-btn::before {
  margin-top: -8px;
  width: 16px;
  height: 16px;
  background-image: url("../images/user_silhouette.svg");
  background-size: 16px auto; }

.random-opponent-btn:hover {
  color: #fff;
  background-color: #34c55d; }

.random-opponent-btn:hover::before {
  background-image: url("../images/user_silhouette-hover.svg"); }

.opponents-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none; }

.opponents-list__col {
  display: flex;
  flex-direction: column; }

.opponents-list__item {
  margin-bottom: 20px;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 26px;
  min-width: 444px;
  box-shadow: -2px 6px 20px 0px rgba(221, 221, 223, 0.8); }

.opponents-list__avatar {
  width: 49px;
  height: 49px;
  border-color: #e0e0e6; }

.opponents-list__user-name {
  margin-top: 4px;
  margin-bottom: 8px;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.02em; }

.opponents-list__town-name {
  margin-bottom: 20px;
  padding-top: 4px;
  padding-bottom: 4px;
  font-size: 9px;
  line-height: 9px;
  color: #57575c;
  background-color: #e0e0e6; }

.opponents-list__challenge-btn {
  align-self: flex-start;
  padding-left: 40px;
  padding-right: 19px;
  padding-top: 9px;
  padding-bottom: 10px;
  font-size: 10px;
  line-height: 10px;
  color: #34c55d;
  background-color: #fff;
  border: 2px solid #34c55d; }

.opponents-list__challenge-btn::before {
  margin-top: -7px;
  width: 11px;
  height: 14px;
  background-image: url("../images/play_symbol.svg");
  background-size: 11px 14px; }

.opponents-list__challenge-btn:hover {
  color: #fff;
  background-color: #34c55d; }

.opponents-list__challenge-btn:hover::before {
  background-image: url("../images/play_symbol-hover.svg"); }

/*# sourceMappingURL=style.css.map */
